<html>
    <head>
        <title>Attendence App</title>
    </head>

    <body>
        <form action="/" method = "POST">
            <label for="Name">Name</label>
            <input type="text" name="Name" id="Name" required />
            <label for="Rollno">Roll Number</label>
            <input type="text" name="RollNumber" id="RollNumber" required />
            <hr>
            <label for="entry">Entry Time</label>
            <input type="text" name="entry" id="entry" required />
            <label for="exit">Exit Time</label>
            <input type="text" name="exit" id="exit" required />
            <hr>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>