<html>
    <head>
        <title>Attendence App</title>
    </head>

    <body>
        <h3>Total Number of Students Presents : <%=count%></h3>

        <h3><a href="/">HOME</a></h3>
    </body>
</html>